<body>
    <div class="logo">
        <img src="./assets/logo.png" alt="">
    </div>
    <div class="ingreso">
        <div class="formula">
            <label for="usuario">USER</label><br>
            <input type="text" name="usuario" placeholder="Ingrese el correo"><br><br>
            <label for="pass">PASSWORD</label><br>
            <input type="password" name="pass" placeholder="Ingrese Contraseña">
        </div>
        <br>
        <ion-button>Sig In</ion-button>
        <ion-button>Sig Up</ion-button>
        <br><br>
        <ion-button color="#de4b38" class="googleBoton" (click)="loginGoogle()">
            <img class="imagGo" src="./assets/plusg.svg" alt="Icono Google+"> &nbsp;&nbsp;
            <p>Ingresar con Google</p>
        </ion-button>
    </div>

</body>