<ion-header>
    <ion-toolbar>
        <ion-title>Opciones de la App</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding fondo">
    <ion-row>
        <ion-col>
            <ion-button (click)="goRender()" class="botHome">
                <ion-img src="assets/ubicacion.svg"></ion-img>
            </ion-button>
        </ion-col>
        <ion-col>
            <ion-button (click)="goDanger()" class="botHome">
                <ion-img src="assets/ojo.svg"></ion-img>
            </ion-button>
        </ion-col>
    </ion-row>
    <ion-row class="principal">
        <ion-col>
            <ion-button class="botHome" (click)="goMap()">
                <ion-img src="assets/enchufe.svg"></ion-img>
            </ion-button>
        </ion-col>
        <ion-col>
            <ion-button class="botHome" (click)="goOut()">
                <ion-img src="assets/logout.svg"></ion-img>
            </ion-button>
        </ion-col>
    </ion-row>

</ion-content>